.App {
  text-align: center;
}

.header {
  height: 10vh;
  background-color: goldenrod;
  color: white;
  text-align: center;
  font-size: 2em;
}

.main {
  margin: 2vh auto;
  border: solid 1px black;
  display: flex;
  justify-content: center;
}
