.App {
  text-align: center;
}

.header {
  height: 10vh;
  background-color: peachpuff;
  color: #3a3d3f;
  display: flex;
  align-items: center;
}

.header-public {
  justify-content: center;
}

.header-user {
  justify-content: space-between;
}

.logo-public {
  font-size: 2em;
}

.logo-user {
  font-size: 1em;
}

.main {
  margin: 2vh auto;
  border: solid 1px black;
  display: flex;
  justify-content: center;
}

.user-errors {
  color: red;
}

.snippet {
  margin: 5px;
  padding: 5px;
  border: solid 2px blue;
  border-radius: 3px;
}
