.App {
  text-align: center;
}

.header {
  height: 10vh;
  background-color: peachpuff;
  color: #3a3d3f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.main {
  margin: 2vh auto;
  border: solid 1px black;
  display: flex;
  justify-content: center;
}
